# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/

# Archivos de cache de Flutter
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions

# Archivos generados por Dart
*.dart_tool/

# Configuración de Pub
.pub-cache/

# Android
android/app/debug.keystore
android/.gradle/
android/build/
android/local.properties

# iOS
ios/Pods/
ios/Podfile.lock
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/Runner.xcworkspace/

# Web
web/.dart_tool/
build/

# Windows
windows/runner/Debug/
windows/runner/Release/

# Linux
linux/flutter/generated/
linux/flutter/ephemeral/

# IDEs y editors
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Otros
.DS_Store
*.log
# Ignorar archivos generados por Android NDK
android/app/.cxx/